# Created by https://www.toptal.com/developers/gitignore/api/conan
# Edit at https://www.toptal.com/developers/gitignore?templates=conan

### Conan ###
# Conan build information
conan.lock
conanbuildinfo.*
conaninfo.txt
graph_info.json

## Various built-in generators
# cmake_find_package generator https://docs.conan.io/en/latest/reference/generators/cmake_find_package.html
Find*.cmake

# cmake_paths generator https://docs.conan.io/en/1.4/integrations/cmake/cmake_paths_generator.html
conan_paths.*

# Environment activation scripts produced by https://docs.conan.io/en/latest/mastering/virtualenv.html#virtualenv-generator
activate_run.ps1
activate_run.sh
deactivate_run.ps1
deactivate_run.sh
environment_run.ps1.env
environment_run.sh.env

# End of https://www.toptal.com/developers/gitignore/api/conan
# Created by https://www.toptal.com/developers/gitignore/api/bazel
# Edit at https://www.toptal.com/developers/gitignore?templates=bazel

### Bazel ###
# gitignore template for Bazel build system
# website: https://bazel.build/

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Directories for the Bazel IntelliJ plugin containing the generated
# IntelliJ project files and plugin configuration. Seperate directories are
# for the IntelliJ, Android Studio and CLion versions of the plugin.
/.ijwb/
/.aswb/
/.clwb/

# End of https://www.toptal.com/developers/gitignore/api/bazel


generated/
